.btn--primary {
    font-size: 18px;
    font-weight: 500;
    color: $white;
    background-color: $btn-color;
    padding: 15px 30px;
    border-radius: 6px;
    transition: $trs;

    &:hover {
        background-color: $btn-color-hover;
    }

    @media (max-width: $breakpoints480) {
        padding: 2px 6px;
        font-size: 14px;
        font-weight: 400;
    }
}

.btn--simple {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: $btn-color;
    background-color: transparent;
    border: 2px solid $btn-color;
    border-radius: 6px;
    transition: $trs;

    &:hover {
        background-color: $btn-color;
        color: $white;
    }

    @media (max-width: $breakpoints768) {
        font-size: 16px;
    }
}

.btn--black {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: $white;
    background-color: $btn-black-color;
    padding: 15px 40px;
    border-radius: 6px;
    transition: $trs;

    &:hover {
        background-color: $btn-black-color-hover;
    }

    @media (max-width: $breakpoints480) {
        padding: 7px 15px;
        font-size: 14px;
        font-weight: 400;
    }
}

//slide btn

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 29px;
    margin: 0 15px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: $trs;
    border-radius: 6px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 6px;
    background-color: white;
    transition: $trs;
    border-radius: 3px;
}

input:checked + .slider {
    background-color: $primary-color;  
}

input:focus + .slider {
    box-shadow: 0 0 1px $primary-color;
}

input:checked + .slider:before {
    transform: translateX(29px);
}

.unactive-link {
    font-weight: 400;
    opacity: 0.5;
    text-decoration: line-through;

    span {
        text-decoration: none;
    }
}


