.discover {
    margin-top: 100px;

    @media (max-width: $breakpoints1024) {
        margin-top: 50px;
    }

    &__wrrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: $breakpoints768) {
            flex-direction: column;
        }
    }

    &__bg {
        img {
            @media (max-width: $breakpoints1024) {
                margin-top: 70px;
            }

            @media (max-width: $breakpoints768) {
                margin-top: 15px;
            }
        }
    }

    &__info {
        max-width: 524px;
        margin: 50px 20px 0;

        @media (max-width: $breakpoints768) {
            margin: 20px auto 0;
            padding-left: 15px;
        }
    }

    &__title {
        font-size: 45px;
        font-weight: 600;
        color: $black;

        @media (max-width: $breakpoints1024) {
            font-size: 36px;
        }

        @media (max-width: $breakpoints480) {
            font-size: 26px;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        color: rgba($black, 0.7);
        margin-top: 20px;

        @media (max-width: $breakpoints480) {
            font-size: 14px;
        }
    }

    &__block {
        margin-top: 20px;
    }

    &__list {
        @media (max-width: $breakpoints1024) {
            font-size: 15px;
        }

        @media (max-width: $breakpoints480) {
            font-size: 12px;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 15px;

        img {
            margin-right: 10px;
        }
    }

    
}