.header {
    margin: 50px 20px 0;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__burger {
        @media (max-width: $breakpoints768) {
            display: block;
            position: relative;
            width: 40px;
            height: 21px;
            z-index: 9999999;

            &::before {
                content: "";
                background-color:  $primary-color;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 0;
                left: 0;
            }

            span {
                content: "";
                background-color:  $primary-color;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 8px;
            }

            &::after {
                content: "";
                background-color: $primary-color;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 16px;
            }

            &--active {
                position: fixed;
                &::before {
                    transform: rotate(45deg);
                    top: 0;
                    transition: $trs;
                    background-color: $white;
                }
    
                span {
                    display: none;
                    transition: $trs;
                    background-color: $white;
                }
    
                &::after {
                    transform: rotate(-45deg);
                    top: 0;
                    transition: $trs;
                    background-color: $white;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        font-size: 18px;
        
        @media (max-width: $breakpoints768) {
            background-color: $primary-color;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            z-index: 99999;
            padding-top: 100px;
            margin: 0 auto;
        }

        &--active {
            top: 0;
            transition: $trs;
        }
    }

    &__item {
        margin: 0 26px;

        a {
            transition: $trs;

            &:hover {
                color: $black;
            }
        }

        @media (max-width: $breakpoints768) {
            font-size: 36px;
            
            a {
                color: #fff;
            }
        }
    }

    &__login {
        margin-right: 23px;
        font-weight: 500;
        color: $black;
        transition: $trs;

        &:hover {
            color: $btn-color-hover;
        }

        @media (max-width: $breakpoints480) {
            margin-right: 10px;
        }
    }
}
