.serving {
    margin: 70px 0;

    @media (max-width: $breakpoints768) {
        margin: 30px 0;
    }

    &__wrrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: $breakpoints768) {
            flex-direction: column-reverse;
        }
    }

    &__info {
        max-width: 524px;
        margin-top: 50px;

        @media (max-width: $breakpoints1024) {
            margin: 0 20px;
        }

        @media (max-width: $breakpoints768) {
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    &__title {
        font-size: 45px;
        font-weight: 600;
        color: $black;

        @media (max-width: $breakpoints1024) {
            font-size: 36px;
        }

        @media (max-width: $breakpoints480) {
            font-size: 26px;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: 400;
        color: rgba($black, 0.7);
        margin-top: 20px;

        span {
            color: $black;
        }
        @media (max-width: $breakpoints1024) {
            font-size: 16px;
        }
    }
    
}