$btn-color: #F44545;
$btn-color-hover: #cc3737;
$btn-black-color: rgba(40, 35, 35, 1);
$btn-black-color-hover: rgba(40, 35, 35, 0.726);
$primary-color: rgb(30, 209, 150);
$black: #021206;
$text-color: rgba(2, 18, 6, 0.5);
$white: #fff;
$trs: all linear .4s;
$clients-bg: rgba(142, 230, 201, 0.1);
$range-color: #F6F6F6;
$gradient: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
$track-color: #424242;
$thumb-color: rgb(30, 209, 150);
$breakpoints1660: 1660px;
$breakpoints1440: 1440px;
$breakpoints1280: 1280px;
$breakpoints1024: 1024px;
$breakpoints768: 769px;
$breakpoints480: 480px;

$main-font-family: Poppins, Arial, Helvetica, sans-serif;

@mixin range-thumb() {
    position: relative;
    top: -5px;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $gradient;
    background-blend-mode: luminosity;
    border: 3px solid $white;
    box-shadow: 1px 5px 30px 0 rgba(83, 215, 171, 0.5);
}

@mixin range-track() {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: none;
    background: $range-color;
    border-radius: 10px;
}


